.container {
    max-width: 400px;
    margin: 5vh auto 0 auto;   
}

body {
    padding: 0;
    margin: 0;
    background-color: #004f62;
   
}
#display {
    border:0.5px solid black; 
    border-radius: 10px;
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 29px;
    color: white;
    background-color: #022d36;
    font-family: 'Koulen', cursive;
    
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: 'Koulen', cursive;
    
}

.buttons > div {
    border-top: 0px solid #999;
    border-right: 0px solid#999;
    
}

.button {
    background-color:#022d36;
    border: 0.5px solid black;
    border-radius: 10px;
    line-height: 100px;
    text-align: center;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: #812E21;
    color: white;
}

#Clear {background-color: #FFB72C;
    color: white;}

.button:hover {
    background-color: #FD3A2D;
    color: white;
    transition: 0.3s ease-in-out;
}